<p>
  about-us-component works!
</p>
<div>
  <main class="mt-5 pt-5">
    <div class="container">

        <!--Section: Jumbotron-->
        <section class="card wow fadeIn" style="background-image: url(https://shinola.imgix.net/media/wysiwyg/landingpages/shinola-hotel/hotel-render-desktop-retina.jpg?ixlib=php-1.1.0&w=2560)">

            <!-- Content -->
            <div class="card-body text-white text-center py-5 px-5 my-5">

                <h1 class="mb-4" style="color:black">
                    <strong>Find My Room</strong>
                </h1>
                <p style="color:black">
                    <strong>Best & free Website to access properties</strong>
                </p>
                <p class="mb-4" style="color:black">
                    <strong>We provide the platform for users to access best properties and provide end to end functionality from vendors to buyers and smooth flow of buying , renting or booking a hotel </strong>
                </p>
                

            </div>
            <!-- Content -->
        </section>
        <!--Section: Jumbotron-->

</div>
<div class="my-5" style="align-content: center">

      <!--Section: Main features & Quick Start-->
      <section style="align-content: center ">

        <h3 class="h3 text-center mb-5" style="align-content: center ">About FindMyRoom</h3>

        <!--Grid row-->
        <div class="row wow fadeIn" style="margin-left: 20%">

          <!--Grid column-->
          <div class="col-lg-6 col-md-12 px-4" >

            <!--First row-->
            <div class="row">
              <div class="col-1 mr-3" >
                </div>
              <div class="col-10">
                <h5 class="feature-title">User Friendly</h5>
                <p class="grey-text">We have created this this web application keeping in mind about the users who try to access the online websites to buy book or rent properties and hotels. The website is user friendly and easy to use.</p>
              </div>
            </div>
            <!--/First row-->

            <div style="height:30px"></div>

            <!--Second row-->
            <div class="row">
              <div class="col-1 mr-3" >
                </div>
              <div class="col-10" >
                <h5 class="feature-title">Provide Best Property</h5>
                <p class="grey-text">Depending on the users requirement and availability we provide the best properties available in the particular region as specified by the user and make it an easy flow to access the properties
                </p>
              </div>
            </div>
            <!--/Second row-->

            <div style="height:30px"></div>

            <!--Third row-->
            <div class="row">
              <div class="col-1 mr-3" >
                 </div>
              <div class="col-10" style="align-content: center ">
                <h5 class="feature-title">Variety </h5>
                <p class="grey-text">Our website provides access to flats , pgs , hotels to buy,rent or book . These various functinalities will allow a user to access his/her choice at once</p>
              </div>
            </div>
            <!--/Third row-->

          </div>
          <!--/Grid column-->

         

        </div>
        <!--/Grid row-->

      </section>
</div>


