
<ngx-spinner
bdColor = "rgba(255,255,255, 0.8)"
size = "large"
color="#008b8b"
type = "ball-climbing-dot"
><p>loading please wait....</p></ngx-spinner>
<div style="margin-top:7%">
    <div class="container"  style="margin-left: 0;">
        <div class="row">
            <div class="col-md-4">
                   <span *ngIf="category=='flat' && flatsForDisplay!=null">
                        <mdb-card style="margin-top: 50px; margin-bottom: 10px;">
                            <mdb-card-body>
                                    <label>Furnished Type</label>
                                    <hr>
                                    <mdb-checkbox [(ngModel)]="filterItems.furnished" (ngModelChange)="filterFlatsData()" [default]="true">Furnished</mdb-checkbox>
                                    <mdb-checkbox [(ngModel)]="filterItems.semifurnished" (ngModelChange)="filterFlatsData()" [default]="true">Semi-Furnished</mdb-checkbox>
                                    <hr>
                                    <label>Number of Rooms</label>
                                    <hr >
                                    <mdb-checkbox [(ngModel)]="filterItems.bhk1" (ngModelChange)="filterFlatsData()" [default]="true">1 Bhk</mdb-checkbox>
                                    <mdb-checkbox [(ngModel)]="filterItems.bhk2" (ngModelChange)="filterFlatsData()" [default]="true">2 Bhk</mdb-checkbox>
                                    <mdb-checkbox [(ngModel)]="filterItems.bhk3" (ngModelChange)="filterFlatsData()" [default]="true">3 Bhk</mdb-checkbox>
                            </mdb-card-body>
                        </mdb-card>
                   </span>
                   <span *ngIf="category=='pg' && pgForDisplay!=null">
                        <mdb-card style="margin-top: 50px; margin-bottom: 10px;">
                            <mdb-card-body>
                                <label>Sharing Type</label>
                                <hr>
                                <mdb-checkbox [(ngModel)]="pgFilterItems.oneSharing" (ngModelChange)="filterPgData()" [default]="true">One Sharing</mdb-checkbox>
                                <mdb-checkbox [(ngModel)]="pgFilterItems.twoSharing" (ngModelChange)="filterPgData()" [default]="true">Two Sharing</mdb-checkbox>
                            </mdb-card-body>
                        </mdb-card>
                   </span>
                   <span *ngIf="(category=='pg' || category=='flat') && (flatsForDisplay!=null ||  pgForDisplay!=null)">
                        <label mdbBtn color="default" mdbRadio="LH" mdWavesEffect (click)="sortByPrice(1,category)" ngModel name="price">
                                Price: LOW to HIGH</label>
                        <label mdbBtn color="default" mdbRadio="HL" mdWavesEffect (click)="sortByPrice(2,category)" ngModel name="price">
                                    Price: HIGH to LOW</label>
                   </span>
            </div>
            <div class="col-md-8">
                    <div class="dark-font">
                            <mdb-breadcrumb customClass="cyan lighten-4">
                             <a routerLink="/core">Home</a>
                            </mdb-breadcrumb>
                    </div>
                <span *ngIf="category=='flat'">
                    <span *ngFor="let f of flatsForDisplay">
                    <div class="card">
                        <div class="container">
                            <div class="row">
                                <div class="col" style="background-color: gainsboro">
                                    <strong style="font-size: 30px; text-transform: uppercase" >{{f.flatName}}</strong>
                                </div>
                            </div>
                            <div class="row" style="text-align: center">
                                    <table style="width:100%">
                                            <tr>
                                              <th><strong>&#x20b9;{{f.flatPrice}}</strong></th>
                                              <th style="text-transform: uppercase"><strong>{{f.flatCity}}</strong></th>
                                              <th style="text-transform: uppercase"><strong>{{f.flatLocation}}</strong></th>
                                            </tr>
                                          </table>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                    <img class="card-img-top" src="data:image/jpeg;base64,{{f.pic1}}" alt="Card image cap" style="width: 100%; padding-top: 15px">
                                </div>
                                <div class="col-md-6">
                                    <div class="row" style="text-align: center; padding-top: 10%">
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr style="height: 70px;">
                                                      <th><span class="badge badge-success"> {{f.faltType}}&nbsp;<i class="fa fa-star" aria-hidden="true"></i></span></th>
                                                      <th style="text-transform: uppercase">{{f.flatRooms}}</th>
                                                    </tr>
                                                    <tr style="height: 70px">
                                                        <th style="text-transform: uppercase">{{f.flatArea}}</th>
                                                        <th style="text-transform: uppercase"><strong>OwnerName : </strong>{{f.ownerName}}</th>
                                                    </tr>
                                                </tbody>
                                                </table>
                                                <table class="table" style="border-color: white">
                                                    <tbody>
                                                        <tr>
                                                        <td> <a class="waves-light" data-toggle="modal" data-target="#basicExample" (click) = "contact(f,category)" data-toggle="modal"  class="btn btn-warning" style="width: 100%"><i class="fa fa-id-card" aria-hidden="true"></i>&nbsp;Contact</a></td>
                                                        <div mdbModal id="basicExample"  class="modal fade right modal-scrolling" tabindex="-1" role="dialog"
                                                        aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
                                                        <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
                                                          <!--Content-->
                                                          <div class="modal-content">
                                                            <!--Header-->
                                                            <div class="modal-header" style="background-color: darkcyan;">
                                                              <p class="heading">Contact Info</p>

                                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true" class="white-text">&times;</span>
                                                              </button>
                                                            </div>

                                                            <!--Body-->
                                                            <div class="modal-body">
                                                                    <label style="color: darkcyan">Owner Name</label>
                                                                    <h5>{{owner}}</h5><br>
                                                                    <br><label style="color: darkcyan">Phone Number</label>
                                                                    <h5>{{ownerPhoneNo}}</h5>
                                                            </div>
                                                          </div>
                                                          <!--/.Content-->
                                                        </div>
                                                      </div>
                                                        <td> <a  class="btn btn-info" (click)="detailedinformation(f)" style="width: 100%"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;More</a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <br>
                </span>
                <h1 *ngIf="flatsForDisplay==null&&dataFetched" style="height:14em; text-align: center">Sorry no result found</h1>
                </span>
                <span *ngIf="category=='pg'">
                        <span *ngFor="let p of pgForDisplay">
                        <div class="card">
                            <div class="container">
                                <div class="row">
                                    <div class="col" style="background-color: gainsboro">
                                        <strong style="font-size: 30px; text-transform: uppercase">{{p.pgName}}</strong>
                                    </div>
                                </div>
                                <div class="row" style="text-align: center">
                                        <table style="width:100%">
                                                <tr>
                                                  <th><strong>&#x20b9;{{p.pgPrice}}</strong></th>
                                                  <th style="text-transform: uppercase"><strong>{{p.pgCity}}</strong></th>
                                                  <th style="text-transform: uppercase"><strong>{{p.pgLocation}}</strong></th>
                                                </tr>
                                              </table>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                        <img class="card-img-top" src="data:image/jpeg;base64,{{p.pic1}}" alt="Card image cap" style="width: 100%; padding-top: 15px; max-height: 200px">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row" style="text-align: center; padding-top: 10%">
                                                <table class="table table-bordered">
                                                    <tbody>
                                                        <tr style="height: 70px;">
                                                          <th><span class="badge badge-success"> Assurred&nbsp;<i class="fa fa-star" aria-hidden="true"></i></span></th>
                                                          <th style="text-transform: uppercase">{{p.pgType}}</th>
                                                        </tr>
                                                        <!-- <tr style="height: 70px">
                                                            <th style="text-transform: uppercase">one sharing <i class="fa fa-bed"></i> : {{p.oneSharingBeds}}<br>
                                                                two sharing <i class="fa fa-bed"></i> : {{p.twoSharingBeds}}</th>
                                                            <th style="text-transform: uppercase"><strong>Owner : </strong>{{p.ownerName}}</th>
                                                        </tr> -->
                                                    </tbody>
                                                    </table>
                                                    <table class="table" style="border-color: white">
                                                        <tbody>
                                                            <tr>
                                                                    <td> <a class="waves-light" data-toggle="modal" data-target="#basicExample" (click) = "contact(p,category)" data-toggle="modal"  class="btn btn-warning" style="width: 100%"><i class="fa fa-id-card" aria-hidden="true"></i>&nbsp;Contact</a></td>
                                                                    <div mdbModal id="basicExample"  class="modal fade right modal-scrolling" tabindex="-1" role="dialog"
                                                                    aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
                                                                    <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
                                                                      <!--Content-->
                                                                      <div class="modal-content">
                                                                        <!--Header-->
                                                                        <div class="modal-header" style="background-color: darkcyan;">
                                                                          <p class="heading">Contact Info</p>

                                                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true" class="white-text">&times;</span>
                                                                          </button>
                                                                        </div>

                                                                        <!--Body-->
                                                                        <div class="modal-body">
                                                                                <label style="color: darkcyan">Owner Name</label>
                                                                                <h5>{{pgOwner}}</h5><br>
                                                                                <br><label style="color: darkcyan">Phone Number</label>
                                                                                <h5>{{pgOwnerPhoneNo}}</h5>
                                                                        </div>
                                                                      </div>
                                                                      <!--/.Content-->
                                                                    </div>
                                                                  </div>

                                                            <td> <a  class="btn btn-info" (click)="detailedinform(p)" style="width: 100%"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;More</a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <br>
                    </span>
                    <h1 *ngIf="pgForDisplay==null&&dataFetched" style="height:14em; text-align: center">Sorry No Result Found </h1>
                    </span>
                    <h1 *ngIf="specialcharacter" style="height:14em; text-align: center">Sorry No Result Found </h1>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>
</div>
