<div class="card testimonial-card">
<div class="container" style="width: 75%; margin-left:9%; margin-top:9%">
   
    <form  [formGroup]='passwordForm'  (ngSubmit)="changepassword()" >
      <div>  
        Old Password:<br>
      <input type="password"  formControlName='OLP' id="OLP" name="OLP" placeholder="old password">
      <div *ngIf="passwordForm.controls['OLP'].touched && !passwordForm.controls['OLP'].valid">  
        <span *ngIf="passwordForm.controls['OLP'].hasError('required') ">
            <div class="validator">  
           <p> current password is required <p>
            </div>
            </span>  
            <span *ngIf="passwordForm.controls['OLP'].hasError('minlength') ">  
                <div class="validator">
                    <h6> Min length should be 6 </h6>
                </div> 
            </span>  
            <span *ngIf="passwordForm.controls['OLP'].hasError('maxlength') "> 
                <div class="validator">
                    <h6>  max length should be 15  </h6>
                </div>
        </span> 
        <span *ngIf="passwordForm.controls['OLP'].hasError('pattern') ">
            <div class="validator">
                <h6>   password must have uppercase, lowercase, numeric and special character   </h6>
            </div>
    </span> 
    </div> 
      </div>
      <div>
      New Password:<br>
      <input type="password"  formControlName='NWP1' id="NWP1" name="NWP1" placeholder="new password">
      <div *ngIf="passwordForm.controls['NWP1'].touched && !passwordForm.controls['NWP1'].valid">  
        <span *ngIf="passwordForm.controls['NWP1'].hasError('required') ">
            <div class="validator">
                <h6>  new password is required </h6> 
            </div>
            </span>  
            <span *ngIf="passwordForm.controls['NWP1'].hasError('minlength') "> 
                <div class="validator">
                    <h6>  Min length should be 6   </h6>
                </div>
            </span>  
            <span *ngIf="passwordForm.controls['NWP1'].hasError('maxlength') ">
                <div class="validator">
                    <h6>  max length should be 15 </h6>
                </div>
        </span>  
        <span *ngIf="passwordForm.controls['NWP1'].hasError('pattern') ">
            <div class="validator">
                <h6>   password must have uppercase, lowercase ,numeric and special character   </h6>
            </div>
    </span>
    </div>
      </div>
      <div>
      Re-enter new Password:<br>
      <input type="password" id="NWP2"  formControlName='NWP2' name="NWP2" placeholder="re-enter new password">
      <div *ngIf="passwordForm.controls['NWP2'].touched && !passwordForm.controls['NWP2'].valid">  
          <span *ngIf="passwordForm.controls['NWP2'].hasError('required') ">  
              <div class="validator">
                  <h6> new password is required  </h6>
              </div>
              </span>  
              <span *ngIf="passwordForm.controls['NWP2'].hasError('minlength') "> 
                  <div class="validator">
                      <h6>  Min length should be 6 </h6>
                  </div>
              </span>  
              <span *ngIf="passwordForm.controls['NWP2'].hasError('maxlength') ">  
                  <div class="validator">
                      <h6>max length should be 15 </h6>
                  </div> 
          </span>  
          <span *ngIf="passwordForm.controls['NWP2'].hasError('pattern') ">
              <div class="validator">
                  <h6>   password must have uppercase, lowercase ,numeric and special character   </h6>
              </div>
      </span>
      </div>
      </div>
      <input type="submit" value="submit" [disabled]='!passwordForm.valid' style="margin:7px;"  >
    </form>
  </div>
</div>