/* Style inputs with type="text", select elements and textareas */
input[type=password], select, textarea {
    width: 100%; /* Full width */
    padding: 9px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 26px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
    background-color: darkcyan;
    color: #FBF7F7;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #759C86;
    margin: 40px;
}
//color for validators message
.validator{
color: #FF3535;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
//backgroung color form
.container{
    background-color: #FFFFFF;
}