<hr>
<div class="card testimonial-card"> 
    
<div class="container" style="margin-left:0%; margin-top:5%;">
          
   <div class="welcome" style="margin-left:35%; color:darkcyan" >
       <h5>Welcome Admin !</h5>
   </div>             
  <br>
  <ul class="list-group list-group-flush">
        <li class="list-group-item" >
            <div class="middle">  
   <h6>First Name :&nbsp;&nbsp;&nbsp; Ankit  </h6> 
            </div>
               
        </li>
        <li class="list-group-item">
                <div class="middle">  
 <h6>Last Name :&nbsp;&nbsp;&nbsp; Rathod </h6> 
                </div>
        </li>
        <li class="list-group-item">
                <div class="middle">  
  <h6>Contact No :&nbsp;&nbsp;&nbsp; 9040982905 </h6> 
                </div>
        </li>
        <li class="list-group-item">
                <div class="middle">  
        <h6>Email Id :&nbsp;&nbsp;&nbsp; ankit.rathod@mindtree.com</h6>
                </div>
        </li>
        <li class="list-group-item">

                <div class="middle">  
 <h6>City : &nbsp;&nbsp;&nbsp;Bhubneshwar</h6> 
                </div>
        </li>
  </ul>  
   </div>  
 </div>
<br>
<router-outlet></router-outlet>