<div style="background-color:antiquewhite">
  <ng-marquee duration="30" class="speed">
    <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Click Here To Refer And Earn <a (click) = "loggedIn()" routerLink="/customerdashboard/profile">Share</a></h2>
  </ng-marquee>
</div>


<div style="margin-top: 30px; margin-left: -10px;margin-bottom: 20px">
  <div class="reason-title">
    <div>
      <div class="header-line leftcircle" style="float: left">

      </div>
      <div class="block-caption">
        We are At
      </div>
      <div class="header-line rightcircle" style="float: right"></div>
    </div>
  </div>

  <div class="row margin-top-40">
    <div class="col-md-1">
    </div>
    <div class="col-md-2 info">
      <div class="icon bangalore"></div>
      <div style="text-align: center">
        <h5 style="color: darkcyan;margin-left: 70px;">BANGALORE</h5>
      </div>
    </div>

    <div class="col-md-2 info">
      <div class="icon chennai"></div>
      <div style="text-align: center">
        <h5 style="color: darkcyan;margin-left: 70px;">CHENNAI</h5>
      </div>
    </div>

    <div class="col-md-2 info">
      <div class="icon delhi"></div>
      <div style="text-align: center">
        <h5 style="color: darkcyan;margin-left: 70px;">DELHI</h5>
      </div>
    </div>

    <div class="col-md-2 info">
      <div class="icon kolkata"></div>
      <div style="text-align: center">
        <h5 style="color: darkcyan;margin-left: 70px;">KOLKATA</h5>
      </div>
    </div>


    <div class="col-md-2 info">
      <div class="icon mumbai"></div>
      <div style="text-align: center">
        <h5 style="color: darkcyan;margin-left: 70px;">MUMBAI</h5>
      </div>
    </div>

    <div class="col-md-1">
    </div>
  </div>

</div>
