<div style="margin-top: 30px; margin-left: -10px;margin-bottom: 20px">
  <div class="reason-title">
    <div>
      <div class="header-line leftcircle" style="float: left">

      </div>
      <div class="block-caption">
        Why use Find My Room
      </div>
      <div class="header-line rightcircle" style="float: right"></div>
    </div>
  </div>
  
  <div class="row margin-top-40">
    <div class="col-md-4 info">
        <div class="icon contact-owner-photo"></div>
          <div style="text-align: center">
              <h4 style="color: darkcyan">Direct contact <br> with owners</h4>
            </div>
    </div>

    <div class="col-md-4 info">
        <div class="icon free-listing"></div>
          <div style="text-align: center">
              <h4 style="color: darkcyan">Free listing <br> of Properties</h4>
            </div>
    </div>

    <div class="col-md-4 info">
        <div class="icon discount"></div>
          <div style="text-align: center">
              <h4 style="color: darkcyan">Discount for <br> Registered user</h4>
            </div>
    </div>
  </div>
  
</div>