<footer class="page-footer text-center font-small wow fadeIn" style="background-color:cadetblue;bottom: 0;position: relative;width: 100%">
  <br>
  <!--Call to action-->
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3> Company </h3>
        <p>Tired of going through online rental platforms everyday in search of House or a Sharing Room? We make sure your search
          ends here! At FindMyRoom, we will help you find the best rental place at an affordable price for hassle-free living.</p>
      </div>
      <div class="col-md-6">
        <h4> Know More / Get in touch with us </h4>
        <br>
        <a class="btn btn-outline-white" routerLink="/aboutus" role="button">About Us</a>
        <a class="btn btn-outline-white" routerLink="/contactus" role="button">Contact Us</a>

      </div>
    </div>
  </div>
  <hr>


  <!--/.Call to action-->


  <!--Copyright-->
  <div class="footer-copyright py-3" style="background-color:cadetblue;margin-right:3%">
    © 2018 Copyright:
    <a routerLink="" target="_blank"> Mindtree.com </a>
  </div>
  <!--/.Copyright-->

</footer>